<aside class="sidebar">
  
  <div class="section-title">
    <span>⭐</span> ТОП ЛІГИ
  </div>
  
  <ul class="league-list">
    <li (click)="select('all')">
      <span class="flag">🌐</span> Всі матчі
    </li>

    <li (click)="select('england')">
      <span class="flag">🏴󠁧󠁢󠁥󠁮󠁧󠁿</span> Premier League
    </li>
    <li (click)="select('spain')">
      <span class="flag">🇪🇸</span> La Liga
    </li>
    <li (click)="select('italy')">
      <span class="flag">🇮🇹</span> Serie A
    </li>
    <li (click)="select('germany')">
      <span class="flag">🇩🇪</span> Bundesliga
    </li>
    <li (click)="select('ukraine')">
      <span class="flag">🇺🇦</span> Premier League (UPL)
    </li>
  </ul>

  </aside>