<header>
  <div class="header-container">
    <div class="logo">
      <span class="logo-icon">⚽</span> DashMatch
    </div>

    <nav>
      <a href="#" class="active">
        <span class="icon">⚽</span> Футбол
      </a>
      <a href="#">
        <span class="icon">🏀</span> Баскетбол
      </a>
      <a href="#">
        <span class="icon">🎾</span> Теніс
      </a>
      <a href="#">
        <span class="icon">🏒</span> Хокей
      </a>
      <a href="#">
        <span class="icon">🏐</span> Волейбол
      </a>
    </nav>
  </div>
</header>